@font-face {
    font-family: Bree-serif;
    src: url(fonts/BreeSerif-Regular.ttf);
}

@font-face {
    font-family: Calibri;
    src: url(fonts/Calibri.ttf);
}

@media only screen and (max-width: 375px) {

    body {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(8, 1fr);
    }
    

}

body {
    width: auto;
    height: 1200px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(8, 150px);
}

h1 {
    font-family: Bree-serif;
    font-size: 50px;
    text-align: center;
}

h2 {
    font-family: Calibri;
    font-size: 20px;
    text-align: center;
}

header {
    grid-row: 1/2;
    grid-column: 1/11;
    background-color: #E88D00;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(10, 1fr);
}

.center {
    grid-row: 2/8;
    grid-column: 1/11;
    background-color: #FFD000;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

footer {
    grid-row: 8/9;
    grid-column: 1/11;
    background-color: #E88D00;
}

.search {
    grid-column: 1/2;
    grid-row: 1/2;
    margin: 50px;
    height: 50px;
    width: 50px;
}

.logo {
    grid-column: 5/7;
}

.menu {
    grid-column: 10/11;
    grid-row: 1/2;
    margin: 50px;
    height: 50px;
    width: 50px;
}

.content {
    display:grid; 
    grid-column: 2/6;
    grid-row: 1/7;
    background-color: #FFD000;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(13, 1fr)
}

.destination1 {
    grid-row: 2/4;
    grid-column: 2/8;
}

.destination2 {
    grid-row: 5/7;
    grid-column: 2/8;
}

.destination3 {
    grid-row: 8/10;
    grid-column: 2/8;
}

.destination4 {
    grid-row: 11/13;
    grid-column: 2/8;
    height: 100%;
    width: 100%;
}