<h3 class="_rubrik">Finland - Ryssland</h3>
<img class="_bild" src="img/finland-ryssland-sida.jpg" alt="">
<h4>Information</h4>
<p class="_text">Nobis, nostrum tenetur maxime cumque veniam, eaque aperiam velit iste ipsam eius quia dolores!Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum reprehenderit cumque cum voluptatum vitae eligendi ex? Nobis, nostrum tenetur maxime cumque veniam, eaque aperiam velit iste ipsam eius quia dolores!Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum reprehenderit cumque cum voluptatum vitae eligendi ex? Nobis, nostrum tenetur maxime cumque veniam, eaque aperiam velit iste ipsam eius quia dolores!</p>
<a href="meddelande.html" class="_knapp">
    <h1 class="_boka">Boka</h1>
</a>