
<div class="destination1">
    <a href="thailand-kina.html">
        <h3>Thailand - Kina 7995 kr</h3>
    </a>
</div>
<div class="destination2">
    <a href="frankrike-polen.html">
        <h3>Frankrike - Polen 18995 kr</h3>
    </a>
</div>
<div class="destination3">
    <a href="norge-danmark.html">
        <h3>Norge - Danmark 12995 kr</h3>
    </a>
</div>
<div class="destination4">
    <a href="finland-ryssland.html">
        <h3>Finland - Ryssland 245 kr</h3>
    </a>
</div>
