<input type="text" placeholder="Email" class="-email"> </input>
<input type="text" placeholder="Förnamn" class="-förnamn"> </input>
<input type="text" placeholder="Efternamn" class="-efternamn"> </input>
<input type="text" placeholder="Telefon" class="-telefon"> </input>
<input type="text" placeholder="Personnummer" class="-personnummer"> </input>
<input type="text" placeholder="Meddelande, om du önskar dela rum med en specifik person, allergier osv." class="-meddelande"> </input>
<a href="fardig.html" class="-knapp">
    <h1 class="-boka">Skicka</h1>
</a>
